body{
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background: linear-gradient( #457B9D, aliceblue);
    color:#1D3557;
}

.header{
    background: url("images/Header.jpg");
    background-size: cover;
    padding-top: 5em;
}

.head h1{
    color:aliceblue;
    background: #457B9D;
}

.head h2{
    color: aliceblue;
    background: #1D3557;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 0.5em;
    opacity: 70%;
}

.head p{
    color:aliceblue;
    background-color: #0f6340;
    max-width: 80%;
    margin: 0.5em auto;
    border-radius: 2em;
    font-weight: 800;
    opacity: 50%;
}

.space{
    margin: 0.5em;
}

.place-visit{
    width: 400px;
    background: linear-gradient( aliceblue, #457B9D);
    margin: 0.8em auto;
    padding: 0.5em;
}

.place-visit img{
    width: 80%;
    height: auto;
    border-radius: 10%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.guide{
    padding-top: 0.2em;
    width: 90%;
    margin: 0.8em auto;
    background: linear-gradient(#acabf5, aliceblue);
    border-radius: 20%;
}
.guide img{
    width: 80%;
    border-radius: 15%;
}

